.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .main {
    padding: 2rem 6rem;
  }
}

.chartsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 1rem;
}

.favoriteButton {
  width: fit-content;
  cursor: pointer;
}

.favoriteButton:hover {
  filter: drop-shadow(0 0 20px) drop-shadow(0 0 40px) drop-shadow(0 0 60px);
}

.title {
  margin: 0 !important;
}

.chartCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.commentButton {
  color: gray !important;
  gap: 0.25rem !important;
}
